.dollyContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.dollyContent {
  width: 100%;
  height: 100%;
  background-image: url("https://image.tmdb.org/t/p/original/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg");
  background-size: cover;
  background-position: 80% center;
  transform: translateZ(50px) scale(1.15); /*inital zoom*/
  animation: dollyZoomOut 6s ease-out forwards;
  background-repeat: no-repeat;
}

@keyframes dollyZoomOut {
  0% {
    transform: translateZ(50px) scale(1.15); /*initial state*/
  }
  100% {
    transform: translateZ(0px) scale(1); /*final state*/
  }
}
