.customButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
  display: flex; 
  flex-direction: row; 
  height: 100%;
  align-items: center;
  border: 0px solid red;
}