@use "../../../assets/sass/fonts" as font;

.customButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
  display: flex; 
  flex-direction: row; 
  height: 100%;
  align-items: center;
  border: 0px solid red;

  .addMovie{
    font-family: font.$navbar-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 4px;
    color: white;
    
  }

}
